@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?at88ps") format("truetype"), url("../fonts/icomoon.woff?at88ps") format("woff"), url("../fonts/icomoon.svg?at88ps#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-git-hub:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-linkedin:before {
  content: "\e903";
}

._icon-link-shape:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
}

/**
 * Swiper 9.0.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 13, 2023
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper .page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 0.9375rem;
}

body {
  font-family: "Inter";
  color: #232E35;
  transition: background 0.6s ease 0s;
}

body._lock {
  overflow: hidden;
  touch-action: none;
}

html.dark {
  /*-------Dark-Mode-----------*/
}

html.dark body {
  color: #f1f1f1;
  background-color: #1E1E1E;
  /*----Header---------*/
  /*--------Sections-------*/
  /*----Career------*/
  /*----------Clients------------*/
}

html.dark body .menu__button::before,
html.dark body .menu__button::after,
html.dark body .menu__button span {
  content: "";
  background-color: #fff;
  display: block;
  flex: 0 0 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
}

html.dark body .dark-mode svg {
  stroke: #f1f1f1;
}

html.dark body .dark-mode svg:hover {
  fill: #f1f1f1;
}

html.dark body .menu__icon span,
html.dark body .menu__icon::before,
html.dark body .menu__icon::after {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #f1f1f1;
}

html.dark body .services,
html.dark body .career,
html.dark body .clients,
html.dark body .contacts {
  background-color: #1E1E1E;
}

html.dark body .career__navigator-title {
  background-color: transparent;
  color: #f1f1f1;
}

html.dark body .list-content__career-item {
  color: #656D72 !important;
}

html.dark body .item-clients__text,
html.dark body .item-clients__name {
  color: #232E35;
}

html.dark body .item-clients__position {
  color: #656D72;
}

html.dark body .education__skills-text {
  color: #f1f1f1 !important;
}

html.dark body .form-input {
  background-color: rgba(35, 46, 53, 0.3);
  color: #f1f1f1;
}

html.dark body .form-input:focus {
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.8);
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__container {
  text-align: center;
}

.footer__socials {
  justify-content: center;
}

.footer__socials:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__socials a {
  color: #656D72;
}

.footer__copy {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #656D72;
}

/*---------Main---------*/

.main {
  padding-top: 250px;
  padding-bottom: 250px;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 28%;
  align-items: center;
}

.main__content {
  padding-right: 50px;
}

.main__title-block h1 {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.25;
}

.main__title-block h1 span {
  color: #7E74F1;
}

.main__title-block:not(:last-child) {
  margin-bottom: 32px;
}

.main__content-text {
  line-height: 200%;
  max-width: 33.625rem;
}

.main__content-text:not(:last-child) {
  margin-bottom: 40px;
}

.main__image-block {
  position: relative;
  background-color: #EAE6FE;
  padding: 6.5625rem 5.0625rem 0 0;
  border-radius: 1rem;
}

.main__image-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #7E74F1;
  border-radius: 1rem;
  transform: rotate(-9.55deg);
  z-index: -1;
}

.main__image-block::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 41.0714285714%;
  background: url("../img/main-image/main-image__decor.svg") 0 0 no-repeat;
  z-index: 2;
}

.main__image {
  position: relative;
  padding-bottom: 115.6862745098%;
}

.main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem 0.25rem 0.25rem 1rem;
}

/*-------------Services----------------*/

.services {
  background-color: #FBFBFB;
  padding-top: 100px;
  padding-bottom: 100px;
}

.services__container {
  text-align: center;
}

.services__title-block:not(:last-child) {
  margin-bottom: 100px;
}

.services__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 22.5rem));
  align-items: center;
  justify-content: space-between;
  gap: 1.5625rem;
}

.item-services {
  padding: 3.125rem;
  border-radius: 8px;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-services__icon {
  display: inline-flex;
  padding: 1rem;
  background: #F5F3FE;
  border-radius: 16px;
}

.item-services__icon:not(:last-child) {
  margin-bottom: 24px;
}

.item-services__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
}

.item-services__title:not(:last-child) {
  margin-bottom: 1em;
}

.item-services__text {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  text-align: center;
  max-width: 15.4375rem;
}

/*--------Portfolio----*/

.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio__header:not(:last-child) {
  margin-bottom: 120px;
}

.portfolio__title-block .title-block__title {
  font-size: 36px;
}

.portfolio__controls {
  display: flex;
  align-items: center;
}

.portfolio-arrow {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAE6FE;
  border-radius: 1rem;
  color: #7E74F1;
  cursor: pointer;
  opacity: 0.5;
}

.portfolio-arrow:not(:last-child) {
  margin-right: 1rem;
}

.portfolio-arrow:not([disabled]) {
  opacity: 1;
}

.portfolio-arrow-left {
  transform: rotate(180deg);
}

.item-portfolio {
  border-radius: 0.5rem;
  border: 1px solid #F5F5F5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 25.5625rem;
}

.item-portfolio__image {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 81.7174515235%;
  transition: opacity 0.3s ease 0s;
}

.item-portfolio__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: transform 0.8s ease 0s;
}

.item-portfolio__body {
  padding: 1.5rem 0 1.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  transition: color 0.3s ease 0s;
  flex: 1 1 auto;
}

.item-portfolio__title {
  flex: 1 1 100%;
}

.item-portfolio__title a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
}

.item-portfolio__title:not(:last-child) {
  margin-bottom: 1rem;
}

.item-portfolio__details {
  display: flex;
  align-items: center;
}

.item-portfolio__category:not(:last-child) {
  margin-right: 1.5rem;
}

.item-portfolio__link {
  color: #656D72 !important;
  transition: color 0.3s ease 0s;
  font-size: 0.75rem;
}

/*-----Career------*/

.career {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FBFBFB;
}

.career__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.career__navigator {
  display: grid;
}

.career__navigator-title {
  text-align: left;
  font-size: 1rem;
  line-height: 1.1875;
  transition: all 0.3s ease 0s;
}

.content-career__header:not(:last-child) {
  margin-bottom: 65px;
}

.content-career__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2777777778;
}

.content-career__title:not(:last-child) {
  margin-bottom: 1rem;
}

.content-career__location {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #656D72;
}

.content-career__location:not(:last-child) {
  margin-bottom: 1rem;
}

.content-career__time {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 171%;
  color: #656D72;
}

.content-career__time:not(:last-child) {
  margin-bottom: 1rem;
}

.list-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.list-content__career-item {
  display: flex;
  align-items: center;
  line-height: 1.1875;
  color: #656D72;
}

.list-content__career-item:not(:last-child) {
  margin-bottom: 1rem;
}

.list-content__career-item:before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #D9D9D9;
  margin-right: 1rem;
}

/*-----------Blog-----------*/

.blog {
  padding-top: 100px;
  padding-bottom: 100px;
}

.blog__title-block {
  text-align: center;
}

.blog__title-block:not(:last-child) {
  margin-bottom: 144px;
}

.blog__articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 0rem 1.34375rem;
  overflow: hidden;
  max-height: 100%;
}

.blog__article {
  display: flex;
  flex-direction: column;
  border: 1px solid #F1F1F1;
  border-radius: 0.5rem;
  overflow: hidden;
  border-color: #F1F1F1;
  min-height: 100%;
}

.blog__article-image {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 67.3130193906%;
  transition: opacity 0.3s ease 0s;
}

.blog__article-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.3s ease 0s;
  overflow: hidden;
  transition: transform 0.3s ease 0s;
}

.blog__article-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.blog__article-body > *:not(:last-child) {
  margin-bottom: 1rem;
}

.blog__article-title-link a {
  font-weight: 500;
  line-height: 150%;
  transition: color 0.3s ease 0s;
}

.blog__article-data {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  padding: 0.25rem 0.5rem;
  color: #656D72;
}

.blog__article-text {
  line-height: 200%;
  color: #656D72;
  flex: 1 1 100%;
}

.blog__article-text:not(:last-child) {
  margin-bottom: 48px;
}

.blog__article-continue-link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #656D72 !important;
  text-align: center;
  transition: color 0.3s ease 0s;
}

.blog__actions {
  display: none;
}

/*---------------Clients--------------*/

.clients {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F1F1F1;
}

.clients__title-blog {
  margin-bottom: 100px;
}

.clients__body {
  display: grid;
  grid-template-columns: repeat(3, minmax(17.5rem, 22.5rem));
  justify-content: space-between;
  align-items: stretch;
  gap: 0.9375rem;
  width: 100%;
  overflow: auto;
}

.clients__item {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 3.25rem 1.5rem 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.item-clients__image {
  text-align: center;
}

.item-clients__image:not(:last-child) {
  margin-bottom: 2rem;
}

.item-clients__body {
  display: flex;
  flex-direction: column;
}

.item-clients__text {
  flex: 1 1 100%;
  line-height: 175%;
}

.item-clients__text:not(:last-child) {
  margin-bottom: 3rem;
}

.item-clients__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2857142857;
}

.item-clients__name:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-clients__position {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
}

/*-----------------Education---------------------*/

.education {
  padding-top: 100px;
  padding-bottom: 100px;
}

.education__title-block {
  margin-bottom: 100px;
}

.education__body {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.education__path {
  flex: 0 1 50%;
  padding: 0 0 0 2.5rem;
}

.education__path-item:not(:last-child) {
  margin-bottom: 64px;
}

.education__skills {
  flex: 0 1 50%;
}

.education__skills-text {
  line-height: 200%;
  color: #656D72;
}

.education__skills-text:not(:last-child) {
  margin-bottom: 4rem;
}

.education__skills-bars > *:not(:last-child) {
  margin-bottom: 3.5rem;
}

.item-path__university {
  font-weight: 500;
  line-height: 1.25;
}

.item-path__university:not(:last-child) {
  margin-bottom: 0.75rem;
}

.item-path__degree {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #656D72;
}

.item-path__degree:not(:last-child) {
  margin-bottom: 24px;
}

.item-path__date {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.bar-item {
  position: relative;
}

.bar-item__label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.bar-item:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #F5F3FE;
  border-radius: 0.125rem;
}

.bar-item:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 68%;
  height: 0.5rem;
  background-color: #7E74F1;
  border-radius: 0.125rem;
}

.bar-item:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 53%;
  height: 0.5rem;
  background-color: #7E74F1;
  border-radius: 0.125rem;
}

.bar-item:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 64%;
  height: 0.5rem;
  background-color: #7E74F1;
  border-radius: 0.125rem;
}

/*----------------------Contacts--------------*/

.contacts {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #FBFBFB;
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.875rem;
}

.contacts__body {
  justify-self: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  padding: 1rem;
  transition: box-shadow 0.7s ease 0s;
  cursor: pointer;
}

.form-input::-moz-placeholder {
  color: #656D72;
}

.form-input::placeholder {
  color: #656D72;
}

.form-input:focus {
  box-shadow: 0 0 0.5rem rgba(88, 69, 199, 0.8);
}

.form-input._error {
  box-shadow: 0 0 0.5rem rgba(255, 0, 0, 0.782);
}

.form__input-message {
  height: 11.875rem;
  resize: vertical;
}

.form-item:not(:last-child) {
  margin-bottom: 1rem;
}

.form-item__email:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form-item__message:not(:last-child) {
  margin-bottom: 3rem;
}

.form-button {
  background-color: #7E74F1;
  border: 1px solid #EAE6FE;
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #F5F3FE;
  transition: background-color 0.3s ease 0s;
}

.list-contacts__item {
  display: flex;
  align-items: center;
}

.list-contacts__item:not(:last-child) {
  margin-bottom: 48px;
}

.list-contacts__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.5rem;
  height: 3.5rem;
  background: #F5F3FE;
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.list-contacts__body {
  display: flex;
  flex-direction: column;
}

.list-contacts__body > *:not(:last-child) {
  margin-bottom: 0.25rem;
}

.list-contacts__label {
  font-weight: 500;
  line-height: 1.1875;
}

.list-contacts__text {
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  transition: all 0.7s ease 0s;
}

.header._scroll {
  background-color: rgba(0, 0, 0, 0.9);
}

.header._scroll .header__container {
  min-height: 3.75rem;
}

.header._scroll .header__logo {
  color: #fff;
}

.header._scroll .resume__button {
  color: #fff;
}

.header._scroll .menu__link {
  color: #fff !important;
}

.header._scroll .dark-mode svg:hover {
  fill: #fff;
}

.header._scroll .dark-mode svg:hover {
  fill: #fff;
}

.header._scroll .dark-mode svg {
  stroke: #fff;
}

.header._scroll .menu__button::before,
.header._scroll .menu__button::after,
.header._scroll .menu__button span {
  background-color: #fff;
}

.header._active .header__logo {
  color: #fff;
}

.header._active .resume__button {
  color: #fff;
}

.header__container {
  min-height: 8.125rem;
  display: grid;
  grid-template-columns: 9.375rem auto 9.875rem;
  align-items: center;
  transition: min-height 0.7s ease 0s;
}

.header__logo {
  z-index: 5;
}

.header__menu {
  justify-self: center;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  padding: 0 0.9375rem;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu__list > *:not(:last-child) {
  margin-right: 56px;
}

.menu__link {
  font-size: 1rem;
  line-height: 1.1875;
  transition: color 0.3s ease 0s;
}

.menu__item:last-child {
  position: relative;
}

.dark-mode svg {
  transition: all 0.3s ease 0s;
  fill: transparent;
  stroke: #232E35;
}

.dark-mode svg:hover {
  fill: #232E35;
}

.resume__button {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  border: 1px solid #F1F1F1;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease 0s;
}

.resume__button:hover {
  background-color: #7E74F1;
  color: #fff;
}

.menu__button {
  display: flex;
  min-height: 1.1875rem;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  border-radius: 0.3125rem;
  transition: all 0.3s ease 0s;
}

.menu__button span {
  margin: 0px 0.1875rem;
}

.menu__button::before,
.menu__button::after,
.menu__button span {
  content: "";
  display: block;
  flex: 0 0 0.25rem;
  height: 0.25rem;
  background-color: #232E35;
  border-radius: 50%;
}

.sub-menu__list {
  width: 12.5rem;
  height: -moz-max-content;
  height: max-content;
  top: 120%;
  left: 0;
  padding: 0.9375rem;
  background-color: rgb(35, 46, 53);
  transition: all 0.3s ease 0s;
}

.sub-menu__list .sub-menu__link {
  color: #fff;
}

.sub-menu__list .sub-menu__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.menu__icon {
  display: none;
}

/* --------------------------- */

.title-block__body {
  display: inline-flex;
  flex-direction: column;
}

.title-block__body > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.title-block__label {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 200%;
  color: #656D72;
  letter-spacing: 0.625em;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
}

.title-block__label:before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #D9D9D9;
  margin-right: 1rem;
}

.title-block__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
}

.socials {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.scials-item {
  transition: color 0.3s ease 0s;
}

.scials-item:not(:last-child) {
  margin-right: 2rem;
}

.scials-item:hover {
  color: #7E74F1;
}

.category-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #656D72 !important;
  padding: 0.25rem 0.5rem;
  border: 1px solid #F1F1F1;
  border-radius: 0.25rem;
  transition: all 0.3s ease 0s;
}

.category-link:hover {
  border: 1px solid #7E74F1;
  color: #7E74F1 !important;
}

@media (min-width: 47.99875em) {
  .career__container {
    align-content: center;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    -moz-column-gap: 144px;
         column-gap: 144px;
    row-gap: 80px;
  }

  .career .career-content {
    grid-row: span 2;
  }

  .career__navigator-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.875rem 1.5rem;
  }

  .career__navigator-title:not(:last-child) {
    margin-bottom: 0.5625rem;
  }

  .career__navigator-title span {
    opacity: 0;
    transform: translate(-3.125rem, 0);
    color: #7E74F1;
    transition: transform 0.3s ease 0s;
  }

  .career__navigator-title._active {
    color: #7E74F1 !important;
    padding: 0.875rem 2rem;
  }

  .career__navigator-title._active span {
    opacity: 1;
    transform: translate(0, 0);
  }

  .career__navigator-title._active:not(:last-child) {
    margin: 1.5rem 0;
  }

  .content-career {
    position: relative;
  }

  .content-career__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translate(50%, 0);
    transition: all 0.5s ease 0s;
  }

  .content-career__item._active {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (min-width: 47.99875em) and (any-hover: hover) {
  .career__navigator-title:hover {
    color: #7E74F1;
    padding: 0.875rem 2rem;
  }
}

@media (min-width: 51.24875em) {
  .sub-menu__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .sub-menu__list._active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

@media (max-width: 1200px) {
  .footer {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .footer {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .main {
    padding-top: calc(80px + 170 * ((100vw - 320px) / 880));
  }

  .main {
    padding-bottom: calc(100px + 150 * ((100vw - 320px) / 880));
  }

  .main__content {
    padding-right: calc(0px + 50 * ((100vw - 320px) / 880));
  }

  .main__title-block:not(:last-child) {
    margin-bottom: calc(16px + 16 * ((100vw - 320px) / 880));
  }

  .main__content-text:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .services {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .services {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .services__title-block:not(:last-child) {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .item-services__icon:not(:last-child) {
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / 880));
  }

  .portfolio {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .portfolio {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .portfolio__header:not(:last-child) {
    margin-bottom: calc(30px + 90 * ((100vw - 320px) / 880));
  }

  .portfolio__title-block .title-block__title {
    font-size: calc(25px + 11 * ((100vw - 320px) / 880));
  }

  .career {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .career {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .content-career__header:not(:last-child) {
    margin-bottom: calc(30px + 35 * ((100vw - 320px) / 880));
  }

  .list-content {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .list-content {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .blog {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .blog {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .blog__title-block:not(:last-child) {
    margin-bottom: calc(30px + 114 * ((100vw - 320px) / 880));
  }

  .blog__articles {
    gap: calc(15px + 25 * ((100vw - 320px) / 880));
  }

  .blog__article-text:not(:last-child) {
    margin-bottom: calc(16px + 32 * ((100vw - 320px) / 880));
  }

  .clients {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .clients {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .clients__title-blog {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .education {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .education {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .education__title-block {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .education__path-item:not(:last-child) {
    margin-bottom: calc(32px + 32 * ((100vw - 320px) / 880));
  }

  .item-path__degree:not(:last-child) {
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / 880));
  }

  .contacts {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .contacts {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .list-contacts__item:not(:last-child) {
    margin-bottom: calc(24px + 24 * ((100vw - 320px) / 880));
  }

  .menu__list > *:not(:last-child) {
    margin-right: calc(24px + 32 * ((100vw - 320px) / 880));
  }

  .title-block__title {
    font-size: calc(30px + 6 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 75em) {
  .services__items {
    justify-content: center;
  }
}

@media (max-width: 819.98px) {
  .header__container {
    grid-template-columns: auto 1fr 3.125rem;
    min-height: 3.75rem;
  }

  .header__actions {
    justify-self: center;
    order: 2;
    padding: 0 0.625rem;
  }

  .menu__link {
    color: #fff !important;
    font-size: 1.25rem;
  }

  .resume__button {
    font-size: 1.125rem;
    padding: 0.75rem 1.125rem;
  }
}

@media (max-width: 51.24875em) {
  html.dark body .dark-mode svg:hover {
    fill: #fff;
  }

  html.dark body .dark-mode svg {
    stroke: #fff;
  }

  .dark-mode svg:hover {
    fill: #fff;
  }

  .dark-mode svg {
    stroke: #fff;
  }

  .menu__button::before,
  .menu__button::after,
  .menu__button span {
    background-color: #fff;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    justify-self: center;
    order: 3;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #232E35;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._scroll span,
  .menu__icon._scroll::before,
  .menu__icon._scroll::after {
    background-color: #fff;
  }

  .menu__icon._active span {
    transform: scale(0);
    background-color: #fff;
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    background-color: #fff;
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: #fff;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 116, 241, 0.8);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: -1;
  }

  .menu > *:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu .menu__list {
    display: block;
  }

  .menu .menu__list > *:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .header__actions {
    z-index: 5;
  }

  .menu._active {
    left: 45%;
  }

  header::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 3.75rem;
    background-color: transparent;
    z-index: 1;
    transition: all 0.5s ease 0s;
  }

  header._active::before {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header._active::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -2;
  }

  .sub-menu__list {
    display: none;
  }

  .sub-menu__list._active {
    display: block;
  }
}

@media (max-width: 47.99875em) {
  .main__container {
    grid-template-columns: none;
  }

  .main__content:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .main__content-text {
    max-width: none;
  }

  .main__image-block {
    max-width: 21.3125rem;
  }

  .main__image-item {
    padding-left: 426px;
    padding-right: 426px;
  }

  .career__container {
    align-items: center;
    justify-items: center;
  }

  .career .career__title-block:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .career__navigator {
    display: flex;
    align-items: center;
    overflow: auto;
    width: 100%;
  }

  .career__navigator:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .career__navigator-title {
    padding: 0.875rem 0rem;
  }

  .career__navigator-title span {
    display: none;
  }

  .career__navigator-title:not(:last-child) {
    margin-right: 1rem;
  }

  .career__navigator-title::after {
    position: absolute;
    bottom: 0.25rem;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0.125rem;
    background-color: #7E74F1;
    transition: width 0.3s ease 0s;
  }

  .career__navigator-title._active {
    position: relative;
    color: #7E74F1 !important;
  }

  .career__navigator-title._active::after {
    width: 100%;
  }

  .content-career {
    position: static;
  }

  .content-career__title {
    font-size: 1rem;
  }

  .content-career__item {
    display: none;
  }

  .content-career__item._active {
    display: block;
  }

  .content-career__list li {
    font-size: 0.875rem;
    color: #232E35;
  }

  .blog__articles {
    padding: 0;
  }

  .blog__article-text {
    font-size: 0.875rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .education__body {
    flex-direction: column;
    align-items: start;
  }

  .education__path {
    padding: 0;
  }

  .education__skills-text {
    color: #232E35;
  }

  .contacts__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 47.99875em) and (max-width: 1200px) {
  .main__image-item {
    padding-left: calc(15px + 411 * ((100vw - 320px) / 880));
  }

  .main__image-item {
    padding-right: calc(15px + 411 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 38.37375em) {
  .blog__articles._short > *:not(:first-child) {
    display: none;
  }

  .blog__actions {
    display: block;
    text-align: center;
  }

  .blog__actions .show-all__button {
    color: #656D72;
    padding: 0.625rem 0;
  }
}

@media (max-width: 29.99875em) {
  .item-services {
    padding: 1.5625rem;
  }

  .blog__article-body > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .blog__article-text {
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 23.4375em) {
  .header__logo {
    max-width: 2.8125rem;
    overflow: hidden;
  }
}

@media (min-width: 47.99875em) and (max-width: 1200px) {
  .career__container {
    -moz-column-gap: calc(30px + 114 * ((100vw - 320px) / 880));
         column-gap: calc(30px + 114 * ((100vw - 320px) / 880));
  }

  .career__container {
    row-gap: calc(30px + 50 * ((100vw - 320px) / 880));
  }
}

@media (hover: hover) {
  .item-services:hover {
    color: #F5F3FE;
    background-color: #7E74F1;
  }

  .portfolio-arrow:not([disabled]):hover {
    background-color: #7864ec;
    color: #EAE6FE;
  }

  .menu__link:hover {
    color: #7E74F1;
  }

  .menu__button:hover {
    background-color: rgba(126, 116, 241, 0.5);
  }

  .sub-menu__list .sub-menu__link:hover {
    text-decoration: underline;
  }
}

@media (hover: none) {
  .item-services {
    color: #F5F3FE;
    background-color: #7E74F1;
  }
}

@media (any-hover: hover) {
  .item-portfolio__image {
    opacity: 0.7;
  }

  .item-portfolio__image:hover {
    opacity: 1;
  }

  .item-portfolio__image:hover img {
    transform: scale(1.1);
  }

  .item-portfolio__body a:hover {
    color: #7E74F1 !important;
  }

  .blog__article-image img:hover {
    transform: scale(1.1);
  }

  .blog__article-title-link a:hover {
    color: #7E74F1;
  }

  .blog__article-continue-link:hover {
    color: #7E74F1 !important;
  }

  .form-button:hover {
    background-color: #5845c7;
  }

  .list-contacts__icon {
    transition: background-color 0.3s ease 0s;
  }

  .list-contacts__icon:hover {
    background-color: #EAE6FE;
  }

  .list-contacts__text:hover {
    text-decoration: underline;
  }
}